.canvasBG{
	background-color: #fef;
	display: flex;
	justify-content: space-around;
}

.candidates{
	margin:20px 0;

}

.mat-list .mat-list-item.mat-list-item-with-avatar{
	height:150px;
}

.mat-list .mat-list-item .mat-list-avatar{
	width: 120px;
	height: 120px;

}

h2{
	font-family: 'Pacifico', cursive;
	padding: 20px;
	margin-left: 30px;

}

h2:hover{
border-bottom: 3px solid indigo;

}

.rightBio{
	display: flex;
	flex-direction: column;
}

mat-toolbar{
	background-color: #FFC0CB;
	color: darkblue;
	padding-top: 15px;
		box-shadow: 5px 5px 2px indigo;

	text-shadow: 5px 5px 10px steelblue;

}


mat-toolbar h3{
	color:darkblue;
	box-shadow: 5px 5px 2px indigo;
	border-radius: 20px;
	text-shadow: 5px 5px 10px steelblue;

}








