<div class="container-fluid canvasBG" fxLayout="col">

	<div fxFlex = "30">
	   <mat-list fxFlex class="candidates">
	     <mat-list-item class="card candidates"  (click)="sendDog(k)" *ngFor="let k of dogsArray">
	       <img matListAvatar src={{k.image}} alt={{k.name}}/>
	       <h2> {{k.name}} </h2>
	     </mat-list-item>
	   </mat-list>

	</div>	

	<div  fxFlex = "40" class="rightBio">
		<app-dogdetail [dogInThatMoment]="iter" ></app-dogdetail>	
		<app-dog-bio [bio]="iter"></app-dog-bio>
	</div>
		
</div>

<mat-toolbar fxLayoutAlign="center">
  <h3>Made by Julio :)</h3>
</mat-toolbar>



